<p id="notice"><%= notice %></p>

<p>
  <strong>Event name:</strong>
  <%= @contact.event_name %>
</p>

<p>
  <strong>Guest count:</strong>
  <%= @contact.guest_count %>
</p>

<p>
  <strong>Event date:</strong>
  <%= @contact.event_date %>
</p>

<p>
  <strong>Message:</strong>
  <%= @contact.message %>
</p>

<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
